.graph {
    margin-bottom: 5rem;
}

.container {
    overflow: hidden;
    max-width: 100%;
    height: 100%;
    padding-bottom: 1rem;
}

.line {
    stroke: $secondary;

    .night & {
        stroke: $night-secondary;
    }
}

.pointer {
    stroke: $primary;

    .night & {
        stroke: $night-primary;
    }
}

.date {
    opacity: 0;

    &--active {
        transition: opacity 0.2s ease-in-out;
        opacity: 1;
    }
}

.label {
    fill: $primary;
    font-size: 1.3rem;

    .night & {
        fill: $night-primary;
    }
}

.chart {
    fill: transparent;
    stroke-width: 2px;
}

.point {
    stroke-width: 3px;
    fill: $light;

    .night & {
        fill: $dark;
    }
}
