* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    padding-bottom: 5rem;
    min-height: 100vh;
    width: 100%;
    padding: 0.5rem;
}

.btn {
    position: fixed;
    text-align: center;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    background: transparent;
    color: #0099ff;
    outline: none;
    font-size: 2rem;
    transition: all 0.2s ease;
    cursor: pointer;

    &:hover,
    &:active {
        color: #8accf8;
    }
}

h1 {
    font-size: 3rem;
    font-weight: lighter;
    margin-bottom: 2rem;
}
